@tailwind base;
@tailwind components;
@tailwind utilities;

header {
    height: 57px;
    border-bottom: solid 1px #F2F2F2;
    padding: 0 24px;
    font-size: 14px;
    color: #6B6B6B;
}

.header-input {
    background: #F9F9F9;
    width: 240px;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    outline: none;
    line-height: 20px;
}

.medium-logo {
    width: auto;
    height: 25px;
}

.profile {
    background-color: purple;
    width: 32px;
    height: 32px;
    border: none;
    border-radius: 50%;
    padding: 5px 9px;
    color: #FFF;
    font-size: 18px;
}

.container {
    max-width: 1336px;
}

.content-filter, .article-card {
    max-width: 680px;
    margin: 0 24px;
}

.articles-list-wrapper {
    width: 728px;
}

.content-filter, .article-card {
    width: 680px;
}

.article-card-text {
    width: 450px;
}

.article-img {
    width: 160px;
    height: 107px;
}

.sidebar-wrapper {
    width: 368px;
    padding-left: clamp(24px, 24px + 100vw - 1080px, 40px);
    min-height: 100vh;
    border-left: 1px solid #F2F2F2;
    padding-right: 24px;
}

.sidebar-container {
    margin-top: 37px;
}